extends layout

block content
    main
        h1= endpoint + ' results'
        - var result= docs;

        - if (result.total)
            div.results
                span.modelResults= '<'+ endpoint +'ModelResults>'
                    include ./partials/photo.jade
                - if (docs.total && docs.total.toString() != 'NaN')
                    span.model= '<total>'
                        p= docs.total
                        span.model.closing-tag='</total>'
                - if (docs.limit && docs.limit.toString() != 'NaN')
                    span.model= '<limit>'
                        p= docs.limit
                        span.model.closing-tag= '</limit>'
                - if (docs.page && docs.page.toString() != 'NaN')
                    span.model= '<page>'
                        p= docs.page
                        span.model.closing-tag= '</page>'
                - if (docs.pages && docs.pages.toString() != 'NaN')
                    span.model= '<pages>'
                        p= docs.pages
                        span.model.closing-tag= '</pages>'
                span.modelResults= '</'+ endpoint +'ModelResults>'
        - else
            div.results
                - if(method)
                    = method + ' from ' + endpoint
                - else
                    p= 'no documents found!'
                include ./partials/photo.jade
